.sidebar-light {
    --cui-sidebar-color: rgba(44, 56, 74, 0.95);
    --cui-sidebar-bg: #fff;
    --cui-sidebar-border-width: 0;
    --cui-sidebar-border-color: transparent;
    --cui-sidebar-brand-color: #fff;
    --cui-sidebar-brand-bg: #321fdb;
    --cui-sidebar-header-bg: rgba(0, 0, 21, 0.2);
    --cui-sidebar-nav-title-color: rgba(44, 56, 74, 0.681);
    --cui-sidebar-nav-link-color: rgba(44, 56, 74, 0.681);
    --cui-sidebar-nav-link-bg: transparent;
    --cui-sidebar-nav-link-icon-color: rgba(44, 56, 74, 0.681);
    --cui-sidebar-nav-link-hover-color: rgba(44, 56, 74, 0.95);
    --cui-sidebar-nav-link-hover-bg: theme-color("primary");
    --cui-sidebar-nav-link-hover-icon-color: rgba(44, 56, 74, 0.95);
    --cui-sidebar-nav-link-active-color: rgba(44, 56, 74, 0.95);
    --cui-sidebar-nav-link-active-bg: rgba(255, 255, 255, 0.05);
    --cui-sidebar-nav-link-active-icon-color: rgba(44, 56, 74, 0.95);
    --cui-sidebar-nav-link-disabled-color: rgba(44, 56, 74, 0.38);
    --cui-sidebar-nav-link-disabled-icon-color: rgba(44, 56, 74, 0.681);
    --cui-sidebar-nav-group-bg: rgba(0, 0, 0, 0.05);
    --cui-sidebar-nav-group-toggle-show-color: rgba(44, 56, 74, 0.681);
    --cui-sidebar-nav-group-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba(44, 56, 74, 0.681)'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    --cui-sidebar-nav-group-indicator-hover: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba(44, 56, 74, 0.95)'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    --cui-sidebar-footer-bg: rgba(0, 0, 21, 0.1);
    --cui-sidebar-toggler-bg: rgba(0, 0, 21, 0.1);
    --cui-sidebar-toggler-hover-bg: rgba(0, 0, 0, 0.2);
    --cui-sidebar-toggler-indicator: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='rgba(44, 56, 74, 0.681)' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
    --cui-sidebar-toggler-indicator-hover: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='rgba(44, 56, 74, 0.95)' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 120vh;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}


/* carousel */

.slider {
    margin-bottom: 30px;
    position: relative;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #fff;
    /* fallback for old browsers */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.slider-card {
    background: #fff;
    padding: 0px 0px;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
}

.slider-card img {
    border-radius: 5px 5px 0px 0px;
}

.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}

.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}

.owl-dots {
    text-align: center;
}

.owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
}

.owl-dots .owl-dot.active {
    background: #f44336 !important;
}


/* close carousel */

.preview,
.why {
    background: url('/products/bg.png') #1c1a1a;
}

.theme,
.sayThey {
    background-color: #eee;
}


/* card hover */


/* .card:hover {
    filter: blur(2px);
    transform: scale(0.9);
    opacity: 0.5;
} */


/* .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 40%;
}



.overlay-content:hover {
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    opacity: 1;
    filter: alpha(opacity=0);
    color: #bbb19c;
    text-transform: uppercase;
}

.card-hover:hover {
    filter: blur(2px);
    opacity: 0.5;
} */

.card-main>.rafflelink {
    top: 13rem;
    position: absolute;
    align-self: center;
    justify-self: center;
    z-index: 2;
    opacity: 0;
}

.card-main:hover>.rafflelink {
    opacity: 1;
    filter: none;
}

.card-main:hover>.card-body {
    filter: none;
}

.card-main:hover>* {
    webkit-filter: blur(2px);
    /* Chrome, Safari, Opera */
    filter: blur(2px);
}

.test-notice {
    display: none !important;
}